* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background: linear-gradient(rgb(148, 147, 147), rgb(116, 115, 115));
    font-family: sans-serif;
    width: 100%;
    padding-bottom: 40px;
}

a {
    text-decoration-line: none;
    color: white;
}

header>a {
    float: left;
    color: white;
    padding: 10px 0;
}

ul {
    float: right;
}

li {
    display: inline-block;
    margin: 0 7px;
    padding: 10px 0;
}




li:hover {
    background-color: rgb(223, 219, 219);
}

li:hover a {
    color: rgb(134, 167, 227);
}

.content {
    width: 100%;
    height: 100vh;
    background-image: url('../Images/Image 02.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content .c1 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50vh;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.content .c1 span {
    color: aqua;
}

.content .c2 {
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.content .c3 {
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.content .c3 a {
    background-color: rgb(169, 166, 166);
    padding: 7px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(121, 35, 35);

}

.content .c3 :hover {
    background-color: rgb(212, 208, 208);

}


article {
    width: 100%;
    height: 50vh;

}

article .s1 {
    width: 50%;
    height: 50vh;
    background-image: url('../Images/PS4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}




article .s2 {
    width: 50%;
    height: 50vh;
    background-color: gray;
    float: left;

}

article .s2 .p1 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 70px;


}

article .s2 .p1 span {
    color: aqua;
}

article .s2 .p2 {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 20px;


}

article .s2 .a1 {
    margin-top: 15px;
    text-align: center;
}

article .s2 a {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px 30px;
}

.lastcontent {
    height: 250px;
}

.lastcontent .lc1 {
    width: 33vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: auto;
}

.lastcontent .lc1 img {
    width: 30px;


}

.lastcontent .lc1 .img1 {
    text-align: center;
    padding-top: 80px;
}

.lastcontent .lc1 .lasttext01 {
    text-align: center;
}


.lastcontent .lc1 .lasttext01 a {
    color: black;
}


.lastcontent .lc2 {
    width: 32vw;
    height: 100%;
    background-color: aqua;
    float: left;
}


.lastcontent .lc2 img {
    width: 30px;
}

.lastcontent .lc2 .img2 {
    text-align: center;
    padding-top: 80px;
}

.lastcontent .lc2 .lasttext02 {
    text-align: center;
}


.lastcontent .lc2 .lasttext02 a {
    color: black;
}



.lastcontent .lc3 {
    width: 32vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
}

.lastcontent .lc3 img {
    width: 30px;


}

.lastcontent .lc3 .img3 {
    text-align: center;
    padding-top: 80px;
}

.lastcontent .lc3 .lasttext03 {
    text-align: center;
}


.lastcontent .lc3 .lasttext03 a {
    color: black;
}

footer .foot1 {
    height: 100px;
    background-color: gray;
    padding: 40px;
    text-align: center;
}


/*---------------200-480 ---------------*/

@media (min-width:200px) and (max-width:480px) {
    header>a {
        font-size: 13px;

    }

    ul>li>a {
        font-size: 14px;
    }

    article .s1 {
        width: 100%;
    }

    article .s2 {
        width: 100%;
        height: 100vh;

    }

    .lastcontent .lc1,
    .lastcontent .lc2,
    .lastcontent .lc3 {
        width: 100%;
    }

}

/*---------------481-768 ---------------*/


@media(min-width:481px) and (max-width:768px) {
    header>a {
        font-size: 13px;

    }

    ul>li>a {
        font-size: 14px;
    }

    article .s1 {
        width: 100%;
    }

    article .s2 {
        width: 100%;
        height: 100vh;

    }

    .lastcontent .lc1,
    .lastcontent .lc2,
    .lastcontent .lc3 {
        width: 100%;
    }
}

@media(min-width:769px) and (max-width:1024px) {
    /* OK */

}

@media(min-width:1025px) and (max-width:1200px) {
    /* OK */

}

@media(min-width:1201px) {
    /* OK */

}